<footer>
  <p>&copy; <span id="year"></span> CSE Motors. All rights reserved.</p>
  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>

<nav>
    <a href="/cause-error">Trigger 500 Error</a>
  </nav>
  <p>&copy; CSE Motors</p>

</footer>

